{% extends 'base.html' %}
{% load static %}
{% block title %}
    Create user
{% endblock %}
{% block content %}
<h3>{{ user.username.capitalize }} profile:</h3>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-8">
    <table class="no-border-table">
        <th colspan="2" class=category_header>{{ user.username }} </th>
        <tr><th><label for="id_first_name">First name:</label></th><td>{{ user.first_name }}</td></tr>
        <tr><th><label for="id_last_name">Last name:</label></th><td>{{ user.last_name }}</td></tr>
        <tr><th><label for="id_emial">Email:</label></th><td>{{ user.email }}</td></tr>
        <tr><th><label for="id_date_joined">Date Joined:</label></th><td>{{ user.date_joined }}</td></tr>
        <tr><th><label for="id_last_login">Last logged in:</label></th><td>{{ user.last_login }}</td></tr>
    </table>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-2">
    <strong>User characters:</strong>
    <ul>
    {% for hero in user_heroes%}
        <div class="align-left">
            <li><a href='/warhammer/hero/{{ hero.id }}'><strong>{{ hero.name }}</strong></a> - {{ hero.race.capitalize }} {{ hero.current_career.capitalize }}
        </div>
        {% endfor %}
    </ul>
    <strong>Game master characters:</strong>
    <ul>
    {% for hero in game_master_heroes%}
        <div class="align-left">
            <li><a href='/warhammer/hero/{{ hero.id }}'><strong>{{ hero.name }}</strong></a> - {{ hero.race.capitalize }} {{ hero.current_career.capitalize }}
        </div>
        {% endfor %}
    </ul><br><br><br>
    <a href='/warhammer/assign-experience'><strong>Assign experience</strong></a>
</div>
{{ message }}
{% endblock %}