{% extends 'base.html' %}
{% load static %}
{% block title %}
    Warhammer hero creation
{% endblock %}
{% block content %}
    <h3>Hero creation:</h3></br></br>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
        <div class=character>
            <table class="hero-table">
                <th colspan="2" class=category_header>CHARACTER</th>
                {{ character_form.as_table}}
            </table>
        </div>
        <br>
        <div class="character-personal-details">
            <table class="hero-table">
                <th colspan="2" class=category_header>PERSONAL DETAILS
                    <button	id="personal_details_roll_button" type=button>Roll dices</button></th>
                {{ personal_details_form.as_table}}
            </table>
        </div>
        <br>
        <div class="character-profile-table">
            <table class="hero-table">
                <th colspan="9" class="category_header">CHARACTER PROFILE
                    <button	id="character_profile_roll_button" type=button>Roll dices</button>
                    <select name="shallyas_mercy_select"  id="shallyas_mercy_select" style="visibility:hidden;"></select>
                    <button	id="shallyas_mercy_button" type=button style="visibility:hidden;">Shallya's Mercy</button>
                </th>
                <tr>
                    <td>Main</td><td>WS</td><td>BS</td><td>S</td><td>T</td><td>Ag</td><td>Int</td><td>WP</td><td>Fel</td>
                </tr>
                <tr>
                    <td class="no-border">Starting</td><td>{{ character_profile_form.weapon_skill }}</td>
                    <td>{{ character_profile_form.ballistic_skill }}</td>
                    <td>{{ character_profile_form.strength }}</td><td>{{ character_profile_form.toughness }}</td>
                    <td>{{ character_profile_form.agility }}</td><td>{{ character_profile_form.intelligence }}</td>
                    <td>{{ character_profile_form.will_power }}</td><td>{{ character_profile_form.fellowship }}</td>
                </tr>
               <tr>
                    <td class="no-border">Advance</td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                </tr>
                <tr>
                    <td class="no-border">Current</td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                </tr>
                <tr>
                    <td>Secondary</td><td>A</td><td>W</td><td>SB</td><td>TB</td><td>M</td><td>Mag</td><td>IP</td><td>FP</td>
                </tr>
                <tr>
                    <td class="no-border">Starting</td><td>{{ character_profile_form.attacks }}</td>
                    <td>{{ character_profile_form.wounds }}</td>
                    <td>{{ character_profile_form.strength_bonus }}</td><td>{{ character_profile_form.toughness_bonus }}</td>
                    <td>{{ character_profile_form.movement }}</td><td>{{ character_profile_form.magic }}</td>
                    <td>{{ character_profile_form.insanity_points }}</td><td>{{ character_profile_form.fate_points }}</td>
                </tr>
                </tr>
                <tr>
                    <td class="no-border">Advance</td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                </tr>
                <tr>
                    <td class="no-border">Current</td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td><td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                </tr>
            </table>
            <br>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-5">
            <img src="{% static 'portraits/warhammer/default.jpg'%}" alt="Hero Portrait" id="id_portrait" name="id_portrait">
            <label for="id_portrait_file">Upload hero portrait:</label>
           {{ character_profile_form.portrait_file }}
            <br><br>
            <input type="submit" value="Save">
        </div>
    </form>
    <script src="{% static 'js/warhammer_hero_creation.js'%}"></script>
{% endblock %}
{% block scripts %}
        <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#id_portrait').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#id_portrait_file").change(function() {
      readURL(this);
     });
    </script>
{% endblock %}